@media screen and(min-width: 0) {
    .banner {
        height: 250px;
        padding-top: 0px;
    }
}

@media screen and(min-width: 1180px) {
    .banner {
        height: 300px;
        padding-top: 52px;
    }
}

@media screen and(min-width: 1280px) {
    .banner {
        height: 350px;
        padding-top: 75px;
    }
}

@media screen and (min-width: 1365px) {
    .banner {
        height: 400px;
        padding-top: 120px;
    }
}

.banner {
    max-width: 1920px;
    margin: 0 auto;
    background: url(../images/common/banner_anli.png) no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.mian {
    width: 1180px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;

    nav {
        width: 180px;

        .nav-name {
            font-size: 28px;
            font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
            font-weight: bold;
            color: #377DC9;
            letter-spacing: 2px;
            padding-bottom: 9px;
            border-bottom: 1px solid #dddddd;
        }

        ul {
            li {
                height: 65px;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 1px;
                border-bottom: 1px solid #dddddd;

                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    line-height: 65px;
                    color: #444444;

                    &.on {
                        color: #377DC9;
                    }
                }
            }
        }
    }

    .main-content {
        flex: 1;
        padding-left: 60px;

        .content-tit {
            font-size: 28px;
            font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
            font-weight: bold;
            color: #444444;
            line-height: 37px;
            letter-spacing: 2px;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 9px;
        }

        .content {
            padding-top: 40px;

            &.gsjj {
                margin-bottom: 60px;

                p {
                    margin-bottom: 20px;
                    font-size: 15px;
                    color: #444444;
                    line-height: 28px;
                    text-indent: 2em;

                    span {
                        font-weight: 700;
                        color: #377DC9;
                    }
                }
            }

            &.zzjg {
                text-align: center;
                margin-bottom: 100px;

                img {
                    width: 950px;
                }
            }

            &.qyry {
                overflow: hidden;

                .honor-item {
                    float: left;
                    width: 280px;
                    height: 280px;
                    text-align: center;
                    margin-bottom: 80px;
                    margin-right: 50px;
                    border: 1px solid #DDDDDD;

                    .item-img {
                        height: 200px;
                        overflow: hidden;
                        text-align: center;
                        background-color: #F2F2F2;

                        img {
                            height: 100%;
                            max-width: 100%;
                        }
                    }

                    &:nth-of-type(3n) {
                        margin-right: 0;
                    }

                    .item-name {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 80px;

                        span {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }
                    }
                }
            }

            &.gsdsj {

                padding-bottom: 50px;

                .slogan {
                    text-align: center;
                    font-size: 22px;
                    color: #377DC9;
                    letter-spacing: 3px;
                    margin-bottom: 35px;
                }

                .deep-items {
                    position: relative;
                    padding-top: 40px;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 45px;
                        left: 50%;
                        width: 2px;
                        height: 100%;
                        transform: translateX(-50%);
                        background-color: #377DC9;
                    }

                    .star {
                        width: 50px;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .deed-item {
                        position: relative;
                        overflow: hidden;
                        margin: 50px 0;

                        &::before {
                            content: '';
                            display: block;
                            width: 20px;
                            height: 20px;
                            background-color: rgba(55, 125, 201, .3);
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        &::after {
                            content: '';
                            display: block;
                            width: 12px;
                            height: 12px;
                            background-color: rgba(55, 125, 201, 1);
                            border-radius: 50%;
                            position: absolute;
                            top: 4px;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        .sj-box {
                            position: relative;
                            width: 350px;
                        }

                        .left {
                            .sj-box {
                                float: left;
                                left: 50px;
                                text-align: right;
                            }
                        }

                        .right {
                            .sj-box {
                                float: right;
                                right: 50px;
                                text-align: left;
                            }

                        }

                        img {
                            width: 200px;
                            height: 140px;
                        }

                        .time {
                            font-size: 24px;
                            padding: 15px 0 8px;
                        }

                        p {
                            position: relative;
                            color: #555555;
                            font-size: 18px;
                        }
                    }
                }
            }

            &.cpyc {
                padding-top: 30px;

                .list-box {

                    .list {
                        border: 1px solid #ddd;
                        padding: 20px 30px;
                        margin-bottom: 15px;
                    }

                    .list-name {
                        font-size: 18px;
                        font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
                        font-weight: bold;
                        color: #444444;
                        letter-spacing: 1px;

                        .hot {
                            display: inline-block;
                            width: 50px;
                            height: 24px;
                            border-radius: 8px 8px 8px 0px;
                            ;
                            background-color: #F32E2B;
                            color: #ffffff;
                            line-height: 24px;
                            text-align: center;
                            font-size: 14px;
                            margin-left: 10px;
                            font-weight: normal;
                        }
                    }

                    .list-info {
                        font-size: 14px;
                        color: #666666;
                        line-height: 19px;
                        padding: 11px 0 15px;
                        display: flex;

                        span {
                            flex: 1;

                            &.time {
                                text-align: right;
                            }
                        }

                        .add,
                        .pay,
                        .num {
                            flex: 2.5;
                        }

                        .responsibility {
                            font-size: 14px;
                            color: #555555;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}

.foot {
    height: 580px;
    background-color: #202B39;
    font-size: 16px;

    .foot-c {
        position: relative;
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        padding-top: 60px;
        color: #fff;
        overflow: hidden;

        .w {
            overflow: hidden;

            .foot-c-left {
                float: left;
                width: 350px;

                .foot-c-left-item {
                    font-size: 18px;

                    .qr-item {
                        width: 100px;
                        margin-left: 40px;
                        img {
                            width: 100px;
                            height: 100px;
                        }
                        p{
                            text-align: center;
                            color: #aaaaaa;
                            font-size: 14px;
                        }
                    }

                    .foot-c-left-item-tit {
                        position: relative;
                        padding: 0 0 10px 40px;
                        border-bottom: 1px solid #5A636F;
                        font-size: 18px;

                        img {
                            position: absolute;
                            left: 0;
                            top: -3px;
                            width: 30px;
                        }
                    }

                    .foot-c-left-item-text {
                        position: relative;
                        padding-left: 40px;
                        font-size: 14px;
                        margin-bottom: 30px;

                        img {
                            position: absolute;
                            left: 0;
                            top: -6px;
                            width: 30px;
                        }
                    }

                    .foot-c-left-item-box {
                        padding: 10px 0 0 40px;
                        overflow: hidden;
                        margin-bottom: 36px;

                        .phone-btn {
                            font-size: 13px;
                            float: right;
                            width: 86px;
                            height: 32px;
                            line-height: 32px;
                            text-align: center;
                            border-radius: 2px;
                            margin-top: 9px;
                            border: 1px solid #5A636F;
                            cursor: pointer;
                        }

                        p {
                            font-size: 14px;
                        }

                        .phones {
                            float: left;

                            p {
                                font-size: 18px;

                                &:first-child {
                                    margin-bottom: 3px;
                                }
                            }
                        }
                    }
                }
            }

            .foot-c-help {
                float: right;
                display: flex;
                flex-wrap: wrap;
                width: 680px;

                .fore {
                    margin-right: 52px;

                    dt {
                        width: 120px;
                        font-size: 18px;
                        padding-bottom: 10px;
                        margin-bottom: 20px;
                        border-bottom: 1px solid #5A636F;
                    }

                    dd {
                        width: 130px;
                        font-size: 14px;
                        margin-bottom: 15px;
                        color: #999999;

                        a {
                            color: #999999;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                        dt{
                            height: 35px;
                            border: 0;
                        }
                        dd {
                            width: 250px;
                        }
                    }
                    &:nth-of-type(4n){
                        margin-right: 0;
                    }
                }
            }
        }

        .copyright {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border-top: 1px solid #5A636F;
            text-align: center;
            line-height: 55px;
            font-size: 13px;
            color: #999999;
        }
    }
}