.banner {
  max-width: 1920px;
  height: 750px;
  margin: 0 auto;
  background: url(../images/b2b2c/banner_b2b2c.png) no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 120px;
  color: #ffffff;
}

.banner .banner-tit {
  font-size: 50px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.banner .banner-p {
  margin-bottom: 50px;
}

.banner .banner-p p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
}

.banner .banner-icon {
  width: 426px;
  height: 75px;
  background: url(../images/com/icon_banner_tese_white.png) no-repeat;
  background-size: cover;
  margin: 0 auto 80px;
}

.banner .banner-btn button {
  height: 48px;
  background-color: #6F62ED;
  border-radius: 3px;
  color: #ffffff;
  outline: none;
  border: 0;
  cursor: pointer;
}

.banner .banner-btn button:first-child {
  width: 150px;
  margin-right: 50px;
}

.banner .banner-btn button:last-child {
  width: 130px;
}

.main .b2b2c-shop {
  width: 1180px;
  margin: 0 auto;
}

.main .b2b2c-shop .b2b2c-shop-tit {
  height: 220px;
  text-align: center;
  padding-top: 100px;
  font-size: 32px;
  letter-spacing: 2px;
}

.main .b2b2c-shop .b2b2c-shop-int {
  position: relative;
  height: 220px;
  padding: 40px 60px 0;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 108px;
  background-color: #F5F5F5;
}

.main .b2b2c-shop .b2b2c-shop-int img {
  width: 60px;
  position: absolute;
}

.main .b2b2c-shop .b2b2c-shop-int img.left-marks {
  left: 0;
  top: 0;
}

.main .b2b2c-shop .b2b2c-shop-int img.right-marks {
  right: 0;
  bottom: 0;
}

.main .operation {
  max-width: 1920px;
  height: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  color: #ffffff;
  background: url(../images/b2b2c/pexels-photo.png) no-repeat;
  background-size: cover;
}

.main .operation .operation-layer {
  width: 1180px;
  margin: 0 auto;
}

.main .operation .operation-layer .operation-tit {
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

.main .operation .operation-layer .operation-txt {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 60px;
  text-indent: 2em;
}

.main .operation .operation-layer .operation-img {
  text-align: center;
}

.main .operation .operation-layer .operation-img img {
  width: 1100px;
}

.main .gain {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 108px;
  overflow: hidden;
}

.main .gain .box {
  position: absolute;
  width: 99px;
  height: 73px;
}

.main .gain .box.left-top {
  left: 0;
  top: 50px;
  background: linear-gradient(270deg, #f7f6ff 0%, #ebe9ff 100%);
}

.main .gain .box.right-bottom {
  bottom: 10px;
  right: 0;
  background: linear-gradient(270deg, #ebe9ff 0%, #f7f6ff 100%);
}

.main .gain .gain-tit {
  height: 90px;
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

.main .gain .gain-items {
  display: flex;
  justify-content: space-between;
}

.main .gain .gain-items .gain-item {
  width: 180px;
  height: 120px;
  text-align: center;
  padding-top: 13px;
  border: 1px solid #DDDDDD;
}

.main .gain .gain-items .gain-item img {
  width: 60px;
}

.main .gain .gain-items .gain-item p {
  font-size: 16px;
  color: #666666;
}

.main .gain .gain-items .gain-add {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: #DCDAFF;
  border-radius: 50%;
  margin-top: 46px;
}

.main .gain .gain-items .gain-add::before {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main .gain .gain-items .gain-add::after {
  content: '';
  display: block;
  width: 2px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main .management {
  background-color: #F7F6FF;
}

.main .management .management-layer {
  width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 68px;
}

.main .management .management-layer .management-tit {
  height: 115px;
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
}

.main .management .management-layer .management-module {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main .management .management-layer .management-module .module-item {
  width: 180px;
  height: 180px;
  text-align: center;
}

.main .management .management-layer .management-module .module-item img {
  width: 100px;
}

.main .management .management-layer .management-module .module-item p {
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #555555;
  letter-spacing: 1px;
}

.advisory {
  background: linear-gradient(270deg, #6F62ED 0%, #7A85FB 100%);
}

.advisory .advisory-layer {
  max-width: 1920px;
  height: 150px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advisory .advisory-layer p {
  font-size: 32px;
  letter-spacing: 3px;
}

.advisory .advisory-layer button {
  width: 140px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #fff;
  outline: none;
  font-size: 18px;
  color: #fff;
  margin-left: 220px;
  cursor: pointer;
  background-color: transparent;
}
