@media screen and (min-width: 0) {
  .banner {
    height: 460px;
    padding-top: 0px;
  }
}

@media screen and (min-width: 1180px) {
  .banner {
    height: 550px;
    padding-top: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .banner {
    height: 660px;
    padding-top: 75px;
  }
}

@media screen and (min-width: 1365px) {
  .banner {
    height: 750px;
    padding-top: 120px;
  }
}

.banner {
  max-width: 1920px;
  margin: 0 auto;
  background: url(../images/b2c/banner_b2c.png) no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.banner .banner-tit {
  font-size: 50px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.banner .banner-p {
  margin-bottom: 50px;
}

.banner .banner-p p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
}

.banner .banner-icon {
  width: 426px;
  height: 75px;
  background: url(../images/common/icon_banner_tese_white.png) no-repeat;
  background-size: cover;
  margin: 0 auto 80px;
}

.banner .banner-btn button {
  height: 48px;
  background-color: #FD8E59;
  border-radius: 3px;
  color: #ffffff;
  outline: none;
  border: 0;
  cursor: pointer;
}

.banner .banner-btn button:first-child {
  width: 150px;
  margin-right: 50px;
}

.banner .banner-btn button:last-child {
  width: 130px;
}

.main .b2c-shop {
  width: 1180px;
  margin: 0 auto;
}

.main .b2c-shop .b2c-shop-tit {
  height: 190px;
  padding-top: 100px;
  text-align: center;
  font-size: 32px;
  letter-spacing: 2px;
}

.main .b2c-shop .b2c-shop-txt {
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  letter-spacing: 1px;
}

.main .b2c-shop .b2c-shop-p {
  font-size: 20px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.main .b2c-shop .b2c-shop-img {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.main .b2c-shop .b2c-shop-img img {
  width: 980px;
}

.main .b2c-flow {
  background-color: #F5F5F5;
}

.main .b2c-flow .flow-layer {
  width: 1180px;
  margin: 0 auto;
}

.main .b2c-flow .flow-layer .b2c-flow-tit {
  height: 220px;
  padding-top: 100px;
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
}

.main .b2c-flow .flow-layer .b2c-flow-img {
  text-align: center;
}

.main .b2c-flow .flow-layer .b2c-flow-img img {
  width: 1100px;
}

.main .b2c-flow .flow-layer .b2c-flow-sys {
  font-size: 18px;
  color: #666666;
  letter-spacing: 1px;
  text-align: center;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item {
  width: 200px;
  height: 280px;
  color: #fff;
  padding: 90px 20px 0;
  margin-bottom: 100px;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item .item-tit {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item .item-txt {
  font-size: 13px;
  line-height: 22px;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item:nth-of-type(1) {
  background: url(../images/b2c/mk_b2c_shangpinzhanshi1.png) no-repeat;
  background-size: cover;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item:nth-of-type(3) {
  background: url(../images/b2c/mk_b2c_shangpinzhanshi2.png) no-repeat;
  background-size: cover;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item:nth-of-type(5) {
  background: url(../images/b2c/mk_b2c_shangpinzhanshi3.png) no-repeat;
  background-size: cover;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item:nth-of-type(7) {
  background: url(../images/b2c/mk_b2c_shangpinzhanshi4.png) no-repeat;
  background-size: cover;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item:nth-of-type(9) {
  background: url(../images/b2c/mk_b2c_shangpinzhanshi5.png) no-repeat;
  background-size: cover;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item:nth-of-type(11) {
  background: url(../images/b2c/mk_b2c_shangpinzhanshi6.png) no-repeat;
  background-size: cover;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item:nth-of-type(13) {
  background: url(../images/b2c/mk_b2c_shangpinzhanshi7.png) no-repeat;
  background-size: cover;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-item:nth-of-type(15) {
  background: url(../images/b2c/mk_b2c_shangpinzhanshi8.png) no-repeat;
  background-size: cover;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-arrow {
  width: 60px;
  height: 40px;
  margin: 0 30px 58px;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-arrow.bot {
  position: absolute;
  top: 285px;
  right: 80px;
  width: 38px;
  margin: 23px 0;
}

.main .b2c-flow .flow-layer .b2c-flow-sys-items .flow-sys-arrow img {
  width: 100%;
}

.main .management {
  width: 1180px;
  margin: 0 auto;
}

.main .management .management-tit {
  height: 220px;
  padding-top: 100px;
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

.main .management .management-module {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.main .management .management-module .module-item {
  width: 265px;
  height: 300px;
  box-shadow: 0px 4px 40px 0px #ECECED;
  border-radius: 10px;
  padding: 0 30px;
  margin-bottom: 40px;
}

.main .management .management-module .module-item img {
  width: 100%;
}

.main .management .management-module .module-item .module-tit {
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.main .management .management-module .module-item .module-int {
  font-size: 13px;
  color: #888888;
  line-height: 24px;
}

.advisory {
  background: linear-gradient(270deg, #FF8D5E 0%, #FC996A 100%);
}

.advisory .advisory-layer {
  max-width: 1920px;
  height: 150px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advisory .advisory-layer p {
  font-size: 32px;
  letter-spacing: 3px;
}

.advisory .advisory-layer button {
  width: 140px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #fff;
  outline: none;
  font-size: 18px;
  color: #fff;
  margin-left: 220px;
  cursor: pointer;
  background-color: transparent;
}
