* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  min-width: 1180px;
  color: #333333;
}

/* 页头 */
header {
  height: 80px;
}

header .menu {
  width: 1180px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}

header .menu .h_logo {
  float: left;
  width: 130px;
  height: 100%;
}

header .menu .h_logo img {
  margin-top: 18px;
  width: 130px;
  height: 37px;
}

header .menu ul {
  display: flex;
  justify-content: space-between;
  float: right;
  width: 680px;
  height: 100%;
}

header .menu ul .t_list {
  line-height: 80px;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  cursor: pointer;
}

header .menu ul .t_list.active {
  border-bottom: 4px solid #377DC9;
}

header .menu .h_info {
  float: right;
  width: 200px;
  height: 100%;
  padding-left: 40px;
}

header .menu .h_info img {
  float: left;
  width: 30px;
  margin-left: 12px;
  margin-top: 26px;
}

header .menu .h_info .info_phone {
  float: right;
  height: 100%;
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #377DC9;
}

header .menu .h_info .info_phone p:first-child {
  margin: 17px 0 5px;
}


/* 页脚 */
.foot {
  height: 440px;
  background-color: #202B39;
}

.foot .foot-c {
  position: relative;
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  color: #fff;
  overflow: hidden;
}

.foot .foot-c .w {
  overflow: hidden;
}

.foot .foot-c .w .foot-c-left {
  float: left;
  width: 350px;
}

.foot .foot-c .w .foot-c-left .foot-c-left-item {
  font-size: 18px;
  margin-bottom: 30px;
}

.foot .foot-c .w .foot-c-left .foot-c-left-item .foot-c-left-item-tit {
  position: relative;
  padding: 0 0 10px 40px;
  border-bottom: 1px solid #5A636F;
}

.foot .foot-c .w .foot-c-left .foot-c-left-item .foot-c-left-item-tit img {
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  float: left;
}

.foot .foot-c .w .foot-c-left .foot-c-left-item .foot-c-left-item-box {
  padding: 10px 0 0 40px;
  overflow: hidden;
}

.foot .foot-c .w .foot-c-left .foot-c-left-item .foot-c-left-item-box .phones {
  float: left;
  font-size: 18px;
}

.foot .foot-c .w .foot-c-left .foot-c-left-item .foot-c-left-item-box .phones p {
  font-size: 18px;
}

.foot .foot-c .w .foot-c-left .foot-c-left-item .foot-c-left-item-box .phones p:first-child {
  margin-bottom: 3px;
}

.foot .foot-c .w .foot-c-left .foot-c-left-item .foot-c-left-item-box p {
  font-size: 14px;
}

.foot .foot-c .w .foot-c-left .foot-c-left-item .foot-c-left-item-box .phone-btn {
  font-size: 13px;
  float: right;
  width: 86px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 2px;
  margin-top: 9px;
  border: 1px solid #5A636F;
  cursor: pointer;
}

.foot .foot-c .w .foot-c-help {
  float: right;
  display: flex;
  width: 680px;
}

.foot .foot-c .w .foot-c-help .fore {
  flex: 1;
  margin-right: 80px;
}

.foot .foot-c .w .foot-c-help .fore:last-child {
  margin-right: 0;
}

.foot .foot-c .w .foot-c-help .fore dt {
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #5A636F;
}

.foot .foot-c .w .foot-c-help .fore dd {
  font-size: 14px;
  margin-bottom: 15px;
}

.foot .foot-c .w .foot-c-help .fore dd a {
  color: #999999;
}

.foot .foot-c .w .foot-c-help .fore dd.QRimg {
  width: 80px;
  height: 80px;
}

.foot .foot-c .w .foot-c-help .fore dd.QRimg img {
  width: 100%;
}

.foot .foot-c .copyright {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #5A636F;
  text-align: center;
  line-height: 55px;
  font-size: 13px;
  color: #999999;
}