@media screen and(min-width: 0) {
    .banner {
        height: 460px;
        padding-top: 18px;
    }
}

@media screen and(min-width: 1180px) {
    .banner {
        height: 550px;
        padding-top: 52px;
    }
}

@media screen and(min-width: 1280px) {
    .banner {
        height: 660px;
        padding-top: 88px;
    }
}

@media screen and (min-width: 1365px) {
    .banner {
        height: 750px;
        padding-top: 150px;
    }
}

.banner {
    max-width: 1920px;
    margin: 0 auto;
    background: url(../images/commerce/banner_simeidianshang.png) no-repeat;
    background-size: cover;
    color: #fff;

    .banner-c {
        width: 1180px;
        margin: 0 auto;

        h2 {
            font-size: 50px;
            letter-spacing: 3px;
            font-weight: normal;
            margin-bottom: 30px;
        }

        p {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 1px;
        }

        .banner-icon {
            width: 426px;
            height: 75px;
            margin-top: 50px;
            background: url(../images/common/icon_banner_tese_white.png) no-repeat;
            background-size: cover;
        }

        .banner-btn {
            margin-top: 80px;

            button {
                background: #FFBE54;
                border-radius: 3px;
                outline: none;
                border: 0;
                font-size: 16px;
                color: #fff;
                cursor: pointer;

                &.b-btn1 {
                    width: 150px;
                    height: 48px;
                    margin-right: 40px;
                }

                &.b-btn2 {
                    width: 130px;
                    height: 48px;
                }
            }
        }
    }
}

.main {
    .ds-type {
        width: 1180px;
        margin: 0 auto;

        .type-tit {
            height: 220px;
            text-align: center;
            padding-top: 100px;
            font-size: 32px;
            letter-spacing: 2px;
        }

        .ds-item-box {
            display: flex;
            justify-content: space-between;

            .ds-item {
                width: 265px;
                height: 320px;
                box-shadow: 0px 4px 40px 0px #ECECED;
                position: relative;

                &>a {
                    display: block;
                    height: 100%;
                }

                img {
                    width: 100%;
                }

                .ds-item-txt {
                    text-align: center;
                    padding: 0 20px;

                    .tit {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 5px;
                        color: #333333;
                    }

                    .wz {
                        font-size: 14px;
                        color: #666666;
                        line-height: 22px;
                        letter-spacing: 1px;
                    }

                    .konw-more {
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 15px;
                        color: #FFBE54;
                        letter-spacing: 1px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .channel {
        margin-top: 108px;
        background-color: #F5F5F5;

        .channel-layer {
            width: 1180px;
            margin: 0 auto;
            padding-top: 100px;
            padding-bottom: 100px;

            .channel-top {
                height: 178px;
                text-align: center;
                overflow: hidden;

                .channel-top-tit {
                    margin-bottom: 20px;
                    font-size: 36px;
                    letter-spacing: 3px;
                }

                p {
                    font-size: 18px;
                    color: #888888;
                    line-height: 30px;
                    letter-spacing: 1px;
                }
            }

            .channel-item-box {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .channel-item {
                    width: 265px;
                    height: 300px;
                    border: 1px solid #ddd;

                    p {
                        line-height: 68px;
                        text-align: center;
                        font-size: 18px;
                        font-family: MicrosoftYaHei;
                        letter-spacing: 1px;
                    }

                    &.chang {
                        width: 570px;
                    }

                    &.shang {
                        margin-bottom: 40px;
                    }

                    img {
                        width: 100%;
                        height: 220px;
                    }
                }
            }
        }

    }

    .promotion {
        width: 1180px;
        margin: 100px auto 0;

        .promotion-top {
            height: 170px;
            text-align: center;
            overflow: hidden;

            .promotion-top-tit {
                margin-bottom: 20px;
                font-size: 36px;
                letter-spacing: 3px;
            }

            p {
                font-size: 18px;
                color: #888888;
                line-height: 30px;
                letter-spacing: 1px;
            }
        }

        .promotion-item-box {
            display: flex;
            flex-wrap: wrap;

            .promotion-item {
                width: 180px;
                height: 200px;
                margin-bottom: 20px;
                margin-right: 15px;
                text-align: center;

                img {
                    width: 100px;
                }

                .item-tit {
                    font-size: 16px;
                    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
                    font-weight: bold;
                    color: #555555;
                    line-height: 21px;
                    letter-spacing: 1px;
                    margin-top: 10px;
                }

                .item-txt {
                    font-size: 14px;
                    font-family: MicrosoftYaHei;
                    color: #888888;
                    line-height: 19px;
                    margin-top: 10px;
                }
            }
        }
    }

    .wending {
        position: relative;
        max-width: 1920px;
        height: 920px;
        margin: 70px auto 0;
        background: url(../images/commerce/bg_dianshang_wending.png) no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 110px;

        .wending-layer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .8);

            .wending-mid {
                width: 1180px;
                height: 100%;
                margin: 0 auto;
                position: relative;

                .text-box-center {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 420px;

                    img {
                        width: 100%;
                    }
                }

                .text-box {
                    position: absolute;
                    height: 163px;

                    img {
                        width: 100%;
                    }

                    &:nth-of-type(1) {
                        width: 220px;
                        left: 300px;
                        top: 100px;
                    }

                    &:nth-of-type(2) {
                        width: 220px;
                        right: 300px;
                        top: 100px;
                    }

                    &:nth-of-type(3) {
                        width: 238px;
                        right: 60px;
                        top: 372px;
                    }

                    &:nth-of-type(4) {
                        width: 220px;
                        right: 300px;
                        bottom: 115px;
                    }

                    &:nth-of-type(5) {
                        width: 220px;
                        left: 300px;
                        bottom: 115px;
                    }

                    &:nth-of-type(6) {
                        width: 238px;
                        left: 60px;
                        top: 372px;
                    }
                }
            }
        }
    }

    .preponderance {
        width: 1180px;
        margin: 0 auto;

        .prep-tit {
            height: 220px;
            text-align: center;
            padding-top: 100px;
            font-size: 32px;
            letter-spacing: 2px;
        }

        .prep-item-box {
            display: flex;
            justify-content: space-between;
            margin-bottom: 88px;

            .prep-item {
                width: 265px;
                height: 340px;
                box-shadow: 0px 5px 50px 0px #ECECED;
                text-align: center;

                img {
                    width: 100%;
                }

                .prep-item-txt {
                    padding: 0 15px;

                    .tit {
                        font-size: 18px;
                        letter-spacing: 1px;
                        margin-top: 15px;
                        margin-bottom: 25px;
                        position: relative;

                        &::after {
                            content: '';
                            display: block;
                            width: 18px;
                            height: 4px;
                            background-color: #FFBE54;
                            position: absolute;
                            left: 50%;
                            bottom: -15px;
                            transform: translateX(-50%);
                        }
                    }

                    .wz {
                        font-size: 14px;
                        color: #999999;
                        line-height: 22px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

    .case {
        position: relative;
        max-width: 1920px;
        height: 800px;
        margin: 0 auto;
        background: url(../images/commerce/bg_dianshang_anli.png) no-repeat;
        background-size: cover;

        .case-layer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .8);
        }

        .case-tab {
            width: 1180px;
            margin: 0 auto;
            padding-top: 100px;

            .case-tit {
                text-align: center;
                font-size: 32px;
                letter-spacing: 2px;
            }

            .case-tab-box {
                display: flex;
                height: 450px;
                margin-top: 80px;

                .tab-btn {
                    width: 180px;
                    height: 100%;
                    border-right: 2px solid #888888;

                    li {
                        width: 160px;
                        height: 50px;
                        line-height: 50px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        text-align: center;

                        &.on {
                            border-radius: 5px;
                            border: 1px solid #333333;
                        }
                    }
                }

                .tab-items {
                    flex: 1;
                    position: relative;
                    overflow: hidden;

                    .tab-item {
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 100%;
                        height: 100%;
                        padding-left: 25px;
                        transition: all .3s;

                        &.active {
                            top: 0;
                        }

                        .img-box {
                            width: 490px;
                            height: 100%;
                            float: left;

                            img {
                                width: 100%;
                            }
                        }

                        .wzjs {
                            float: right;
                            width: 400px;
                            padding-top: 50px;

                            .item-tit {
                                font-size: 24px;
                                letter-spacing: 1px;
                                margin-bottom: 20px;
                            }

                            .item-txt {
                                padding-bottom: 100px;
                                font-size: 15px;
                                line-height: 28px;
                                border-bottom: 1px dashed #666666;
                            }

                            .ms-box {
                                padding-top: 20px;

                                span {
                                    float: left;
                                    font-size: 14px;
                                    margin-right: 10px;
                                }

                                .ms {
                                    display: inline-block;
                                    text-align: center;
                                    font-size: 12px;
                                    margin-right: 20px;

                                    img {
                                        display: block;
                                        margin: 0 auto;
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.advisory {
    background: linear-gradient(270deg, #FFBE54 0%, #FEC864 100%);

    .advisory-layer {
        max-width: 1920px;
        height: 150px;
        margin: 0 auto;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 32px;
            letter-spacing: 3px;
        }

        button {
            width: 140px;
            height: 44px;
            border-radius: 3px;
            border: 1px solid #fff;
            outline: none;
            font-size: 18px;
            color: #fff;
            margin-left: 220px;
            cursor: pointer;
            background-color: transparent;
        }
    }
}