* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    height: 20000px;
    min-width: 1024px;
}

header {
    height: 80px;

    .h_box {
        width: 1182px;
        height: 100%;
        background-color: #fff;
        margin: 0 auto;

        .h_logo {
            float: left;
            width: 130px;
            height: 100%;

            img {
                margin-top: 18px;
                width: 130px;
                height: 37px;
            }
        }

        .h_tab {
            display: flex;
            justify-content: space-between;
            float: right;
            width: 680px;
            height: 100%;

            .t_list {
                line-height: 80px;
                font-size: 18px;
                font-family: MicrosoftYaHei;
                cursor: pointer;

                &.active {
                    border-bottom: 4px solid #377DC9;
                }
            }
        }

        .h_info {
            float: right;
            width: 200px;
            height: 100%;
            padding-left: 40px;

            img {
                float: left;
                width: 30px;
                margin-left: 12px;
                margin-top: 26px;
            }

            .info_phone {
                float: right;
                height: 100%;
                font-size: 16px;
                font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
                font-weight: bold;
                color: #377DC9;

                p:first-child {
                    margin: 17px 0 5px;
                }
            }
        }
    }
}

.swper-box {
    max-width: 1920px;
    height: 750px;
    margin: 0 auto;
    color: #333333;

    .swiper-container {
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        width: 100%;
        height: 100%;

        .swiper-wrapper {
            .swiper-slide {
                a {
                    .swiper-info {
                        position: absolute;
                        z-index: 3;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 1182px;
                        height: 750px;
                        margin: 0 auto;
                        color: #333333;

                        .info-tit {
                            margin-top: 110px;
                            font-size: 60px;
                        }

                        .info-c {
                            margin-top: 20px;

                            p {
                                font-size: 20px;
                                line-height: 34px;
                            }
                        }

                        .info-banner {
                            width: 426px;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 40px;

                            .b-item {
                                text-align: center;
                                font-size: 15px;

                                img {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                        }

                        .info-btnbox {
                            margin-top: 60px;

                            &>div {
                                background-color: #FFBE54;
                                border-radius: 3px;
                                text-align: center;
                                line-height: 48px;
                                display: inline-block;
                                cursor: pointer;
                                color: #fff;
                                font-size: 16px;
                            }

                            .info-btn1 {
                                width: 150px;
                                height: 48px;
                            }

                            .info-btn2 {
                                width: 130px;
                                height: 48px;
                            }

                            .info-btn3 {
                                width: 130px;
                                height: 48px;
                            }
                        }
                    }

                    .img {
                        display: block;
                        position: relative;
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }

        /*包裹自定义分页器的div的位置等CSS样式*/
        .swiper-pagination-custom {
            bottom: 10px;
            left: 0;
            width: 100%;
        }

        /*自定义分页器的样式，这个你自己想要什么样子自己写*/
        .swiper-pagination-customs {
            width: 30px;
            height: 4px;
            display: inline-block;
            background: #fff;
            opacity: .5;
            margin: 0 15px;
        }

        /*自定义分页器激活时的样式表现*/
        .swiper-pagination-customs-active {
            opacity: 1;
            background-color: #377DC9;
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 70px;
            height: 70px;
        }

        .swiper-button-prev {
            background-image: url(../images/com/icon_home_previous.png);
            background-size: 100%;
        }

        .swiper-button-next {
            background-image: url(../images/com/icon_home_next.png);
            background-size: 100%;
        }
    }
}

.content {
    color: #333333;
    .content-top {
        height: 50px;
        border-bottom: 1px solid #dddddd;

        .top-text {
            max-width: 1182px;
            line-height: 50px;
            font-size: 14px;
            margin: 0 auto;
            overflow: hidden;

            .text-left {
                float: left;
            }

            .text-right {
                float: right;
                width: 1080px;
                display: flex;
                justify-content: space-between;

                .text-item {
                    position: relative;
                    padding-left: 16px;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #A0CEFF;
                    }
                }
            }
        }
    }

    .knows {
        width: 1182px;
        margin: 0 auto;

        .know-top {
            height: 327px;
            text-align: center;
            overflow: hidden;

            .know-top-tit {
                margin-top: 100px;
                margin-bottom: 20px;
                font-size: 36px;
                letter-spacing: 3px;
            }

            p {
                font-size: 18px;
                color: #888888;
                line-height: 30px;
                letter-spacing: 1px;
            }
        }

        .know-items {
            position: relative;
            height: 530px;
            margin-bottom: 100px;

            .item-tit {
                text-align: center;
                font-size: 30px;
                line-height: 40px;
                letter-spacing: 2px;
            }

            &.keep-left {
                .item-left {
                    position: absolute;
                    left: 0;
                    top: 60px;
                    width: 680px;
                    height: 400px;
                    z-index: 1;
                    background-color: pink;
                }

                .item-right {
                    padding-top: 116px;
                    position: absolute;
                    right: 0;
                    top: 60px;
                    width: 680px;
                    height: 400px;
                    z-index: 2;

                    h4 {
                        font-size: 24px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 14px;
                        color: #666666;
                        line-height: 28px;
                    }

                    .item-btns {
                        margin-top: 50px;

                        &>div {
                            height: 44px;
                            line-height: 44px;
                            text-align: center;
                            float: left;
                            font-size: 14px;
                            border-radius: 3px;
                            cursor: pointer;
                        }

                        .i-btn1 {
                            width: 140px;
                            color: #fff;
                            margin-right: 20px;
                            background-color: #377DC9;
                        }

                        .i-btn2,
                        .i-btn3 {
                            padding: 0 28px;
                            border: 1px solid #377DC9;
                            color: #377DC9;
                            margin-right: 20px;
                        }
                    }
                }
            }

            &.keep-right {
                .item-left {
                    padding-top: 116px;
                    position: absolute;
                    left: 0;
                    top: 60px;
                    width: 680px;
                    height: 400px;
                    z-index: 2;
                    cursor: pointer;

                    h4 {
                        font-size: 24px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 14px;
                        color: #666666;
                        line-height: 28px;
                    }

                    .item-btns {
                        margin-top: 50px;

                        &>div {
                            height: 44px;
                            line-height: 44px;
                            text-align: center;
                            float: left;
                            font-size: 14px;
                            border-radius: 3px;
                        }

                        .i-btn1 {
                            width: 140px;
                            color: #fff;
                            margin-right: 20px;
                            background-color: #377DC9;
                        }

                        .i-btn2,
                        .i-btn3 {
                            padding: 0 28px;
                            border: 1px solid #377DC9;
                            color: #377DC9;
                            margin-right: 20px;
                        }
                    }
                }

                .item-right {
                    position: absolute;
                    right: 0;
                    top: 60px;
                    width: 680px;
                    height: 400px;
                    z-index: 1;
                    background-color: pink;
                }
            }
        }
    }

    .our-services {
        position: relative;
        max-width: 1920px;
        height: 800px;
        margin: 0 auto;
        background-color: pink;
        // background: url(../images/home/swiper/home-swper1.png) no-repeat;
        // background-size: contain;
        text-align: center;
        color: #fff;
        padding-top: 150px;

        .ser-tit {
            font-size: 36px;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }

        .p-txt {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 1px;
        }

        .ser-bot {
            display: flex;
            justify-content: space-between;
            width: 1200px;
            margin: 100px auto 0;

            .ser-item {
                flex: 1;
                text-align: center;

                img {
                    width: 134px;
                }

                .ser-txt {
                    letter-spacing: 1px;
                    margin-top: 24px;

                    .serve {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }

                    .exp {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .flow {
        width: 1182px;
        height: 1150px;
        margin: 0 auto;
        text-align: center;
        padding-top: 120px;
        background-color: red;

        .f-tit {
            font-size: 36px;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }

        .f-text {
            font-size: 18px;
            color: #888888;
            letter-spacing: 1px;
        }
        .f-chart {
            
        }
    }
}