.mobody {
    .banner {
        width: 100%;
        height: 4rem;
        padding-top: 0.7rem;
        text-align: center;
        background: url(../images/wissecurity/banner_mo_anbao.jpg) no-repeat;
        background-size: contain;

        .banner-tit {
            font-size: 0.4rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 0.28rem;
        }

        p {
            display: block;
            margin: 0 auto;
            font-size: 0.24rem;
            transform: scale(0.91);
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 0.32rem;
            width: 96%;
        }

        .banner-icon {
            width: 4.96rem;
            height: 0.92rem;
            margin: 0 auto;
            background-size: contain;
        }

        .banner-btn {
            display: none;
        }
    }

    .main {
        .security-centre {
            width: 100%;

            .security-centre-tit {
                height: 0.94rem;
                padding-top: 0.4rem;
                font-size: 0.32rem;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
            }

            .security-centre-items {
                margin-top: 0.4rem;
                padding: 0 0.3rem;
                margin-bottom: 0.36rem;

                .security-centre-item {
                    width: 100%;
                    height: 1.6rem;
                    margin-bottom: 0.2rem;
                    box-shadow: 0px 1px 10px 0px rgba(236, 236, 237, 1);
                    border-radius: 0.1rem;
                    align-items: center;

                    .l {
                        width: auto;
                        font-size: 0;
                        margin: 0.1rem 0.2rem 0 0.3rem;

                        img {
                            width: 1rem;
                        }
                    }

                    .r {
                        .r-tit {
                            font-size: 0.28rem;
                            font-family: PingFangSC-Regular, PingFang SC;
                            font-weight: 400;
                            margin-bottom: 0.02rem;
                        }

                        p {
                            font-size: 0.24rem;
                            transform: scale(0.91);
                            transform-origin: left;
                            font-family: PingFangSC-Regular, PingFang SC;
                            font-weight: 400;
                            color: rgba(102, 102, 102, 1);
                            line-height: 0.28rem;
                        }
                    }
                }
            }
        }

        .trait {
            width: 100%;
            max-width: 100%;
            height: 8rem;

            .trait-white-layer {
                .trait-layer {
                    width: 100%;

                    .tradit-tit {
                        display: block;
                    }

                    .center-cir {
                        display: none;
                    }

                    .tradit-tit {
                        font-size: 0.32rem;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: rgba(51, 51, 51, 1);
                        text-align: center;
                        margin: 0.4rem 0;
                    }

                    .tradit-items {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        .tradit-item {
                            position: static;
                            width: 2.3rem;
                            height: 2.9rem;
                            margin: 0 0.06rem 0.2rem;
                            padding: 0.2rem 0.1rem;

                            .item-tit {
                                font-size: 0.28rem;
                                font-family: PingFangSC-Semibold, PingFang SC;
                                font-weight: 600;
                                margin-bottom: 0.1rem;
                            }

                            p {
                                font-size: 0.24rem;
                                transform: scale(0.91);
                                font-family: PingFangSC-Regular, PingFang SC;
                                font-weight: 400;
                                line-height: 0.3rem;
                            }
                        }
                    }
                }
            }
        }

        .solve {
            width: 100%;
            height: auto;
            padding-top: 0.4rem;

            .solve-tit {
                font-size: 0.32rem;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                margin-bottom: 0.9rem;
                padding: 0 1.5rem;
            }

            .solve-scheme {
                display: none;

                &.mo {
                    display: block;
                    margin-top: 0;
                    background: none;
                    height: auto;

                    .scheme-flex-box {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding: 0 0.3rem;

                        .solve-scheme-item {
                            position: static;
                            width: 3.3rem;
                            height: 3.2rem;
                            box-shadow: 0px 1px 10px 0px rgba(236, 236, 237, 1);
                            border-radius: 5px;
                            margin-bottom: 0.8rem;
                            text-align: center;
                            img{
                                width: 1rem;
                                transform: translateY(-50%);
                            }

                            .txt {
                                font-size: 0.24rem;
                                transform: scale(0.91);
                                font-family: PingFangSC-Regular, PingFang SC;
                                font-weight: 400;
                                color: rgba(68, 68, 68, 1);
                                line-height: 0.32rem;
                            }

                            .tit {
                                font-size: 0.28rem;
                                font-family: PingFangSC-Medium, PingFang SC;
                                font-weight: 500;
                                margin-top: -0.45rem;
                            }
                        }
                    }
                }
            }

            .solve-arrow {
                margin-top: -0.35rem;
                font-size: 0;

                img {
                    width: 0.36rem;
                }
            }

            .solve-zj {
                display: none;

                &.mo {
                    display: block;
                    margin-top: 0.2rem;
                    font-size: 0.24rem;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    line-height: 0.36rem;
                    margin-bottom: 0.6rem;
                }

            }
        }

        .alter {
            max-width: none;
            width: 100%;
            height: 7.2rem;
            background-size: 100% 100%;

            .trait-white-layer {
                background-color: rgba(255, 255, 255, 0.7);
            }

            .alter-layer {
                width: 100%;
                padding-top: 0.4rem;
                background-color: rgba(255, 255, 255, .7);
                background-image: url(../images/wissecurity/icon_anbao_dajiantou.png);
                background-repeat: no-repeat;
                background-size: 1.2rem 5.1rem;
                background-position: 5.9rem 1.48rem;

                .alter-tit {
                    display: none;

                    &.mo {
                        display: block;
                        font-size: 0.32rem;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                    }
                }

                .alter-ladder {
                    display: none;
                    background: none;
                    height: 5.92rem;
                    padding-top: 1.2rem;

                    &.mo {
                        display: block;

                        .alter-ladder-item {
                            position: static;
                            font-size: 0.28rem;
                            font-family: PingFangSC-Regular, PingFang SC;
                            font-weight: 400;
                            padding-left: 0.4rem;
                            line-height: normal;
                            margin-bottom: 0.5rem;

                            &::before {
                                content: '';
                                display: inline-block;
                                width: 0;
                                height: 0;
                                border-top: 0.12rem solid transparent;
                                border-left: 0.20rem solid red;
                                border-bottom: 0.12rem solid transparent;
                                margin-right: 0.08rem;
                            }

                            .num {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .capacity {
            .capacity-layer {
                width: 100%;

                .capacity-tit {
                    padding-top: 0.4rem;
                    font-size: 0.32rem;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    background-size: 0.94rem 0.7rem;
                    background-position: 2.18rem 0.16rem;
                }

                .capacity-module {
                    margin-top: 0.4rem;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 0 0.2rem;
                    margin-bottom: 0.36rem;

                    .module-item {
                        margin: 0;
                        width: 1.7rem;
                        height: 3.3rem;
                        box-shadow: 0px 1px 10px 0px rgba(236, 236, 237, 1);
                        border-radius: 5px;
                        font-size: 0;
                        margin-bottom: 0.4rem;

                        img {
                            width: 1rem;
                        }

                        .item-name {
                            font-size: 0.26rem;
                            font-family: PingFangSC-Regular, PingFang SC;
                            font-weight: 400;
                            color: rgba(51, 51, 51, 1);

                            &::after {
                                width: 0.2rem;
                                height: 0.06rem;
                                bottom: -0.1rem;
                            }
                        }

                        .item-text {
                            margin-top: 0.1rem;
                            padding: 0;
                            font-size: 0.24rem;
                            transform: scale(0.83);
                            font-family: PingFangSC-Regular, PingFang SC;
                            font-weight: 400;
                            color: rgba(136, 136, 136, 1);
                            line-height: 0.28rem;
                        }
                    }
                }
            }
        }

        .synthesize {
            .synthesize-layer {
                width: 100%;
                height: 7rem;
                padding-top: 0.4rem;

                .synthesize-tit {
                    font-size: 0.32rem;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                }

                .synthesize-img-box {
                    display: none;
                }

                .mo-synthesize-img-box {
                    display: block;
                    margin: 0 0.16rem;
                    height: 6.16rem;
                    background: url(../images/wissecurity/pic_anbao_zongheguanli.png) no-repeat;
                    background-size: 100%;
                    background-position: center center;
                }
            }
        }
    }

    .advisory {
        background: url(../images/wissecurity/bg_zixun_anbao.png) no-repeat;
        background-size: cover;

        .advisory-layer {
            width: 100%;
            height: 2rem;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-top: 0.4rem;

            p {
                text-align: center;
                width: 100%;
                font-size: 0.32rem;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                letter-spacing: 0.04rem;
            }

            button {
                width: 1.76rem;
                height: 0.64rem;
                font-size: 0.28rem;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                margin: 0;
            }

        }
    }
}