.mobody {
    .banner {
        width: 100%;
        height: 4rem;
        padding-top: 0.6rem;
        text-align: center;

        .banner-tit {
            font-size: 0.4rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 0.1rem;
        }

        .banner-p {
            margin-bottom: 0.28rem;
        }

        p {
            display: none;

            &.mo {
                display: block;
                max-width: 7rem;
                margin: 0 auto;
                font-size: 0.24rem;
                transform: scale(0.91);
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 0.32rem;
            }
        }

        .banner-icon {
            width: 4.96rem;
            height: 0.92rem;
            margin: 0 auto;
            background-size: contain;
        }

        .banner-btn {
            display: none;
        }
    }

    .main {
        .s2b2c-shop {
            width: 100%;

            .s2b2c-shop-tit {
                height: 0.94rem;
                padding-top: 0.4rem;
                font-size: 0.32rem;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
            }

            .s2b2c-shop-int {
                background-color: #ffffff;
                margin-bottom: 0;
                padding: 0.4rem 0.2rem 0.6rem;
                font-size: 0.24rem;
                height: auto;

                img {
                    width: 0.6rem;
                }

                p {
                    font-size: 0.24rem;
                    transform: scale(0.91);
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: rgba(85, 85, 85, 1);
                    line-height: 0.32rem;
                }
            }
        }

        .operation {
            width: 100%;
            height: 16.8rem;
            max-width: 100%;

            .operation-white-layer {
                padding-top: 0.4rem;

                .operation-layer {
                    width: 100%;

                    .operation-tit {
                        font-size: 0.32rem;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        margin-bottom: 0.4rem;
                    }

                    .operation-txt {
                        font-size: 0.24rem;
                        transform: scale(0.91);
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: rgba(136, 136, 136, 1);
                        line-height: 0.32rem;
                        margin-top: 0.1rem;
                        margin-bottom: 0.3rem;
                        text-align: center;
                    }

                    .operation-img {
                        padding: 0 0.2rem;

                        img {
                            display: none;

                            &.mo {
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .advantage {
            width: 100%;
            height: 9.2rem;

            .circle-in {
                width: 5.2rem;
                height: 5.2rem;
                left: -1.62rem;
                top: -1.28rem;
                transform: translate(0, 0);

                .circle-out {
                    width: 4.4rem;
                    height: 4.4rem;

                    p {
                        &:last-child {
                            display: none;
                        }

                        &:first-child {
                            font-size: 0.32rem;
                            font-family: PingFangSC-Medium, PingFang SC;
                            font-weight: 500;
                            transform: translate(0, -0.7rem);

                            &::after {
                                content: '';
                                display: block;
                                width: 0.32rem;
                                height: 0.06rem;
                                background-color: #ffffff;
                                margin-top: 0.1rem;
                            }
                        }
                    }
                }
            }

            .adv-items {
                display: none;

                &.mo {
                    display: block;
                    padding: 1.2rem 0 0 1.2rem;

                    .adv-item {
                        position: relative;
                        display: block;
                        padding: 0;
                        height: 0.64rem;
                        line-height: 0.64rem;
                        background: transparent;
                        border-radius: 0;
                        font-size: 0;
                        margin-bottom: 0.2rem;

                        .item {
                            display: inline-block;
                            height: 0.64rem;
                            padding: 0 0.22rem 0 0.1rem;
                            font-size: 0.24rem;
                            transform: scale(0.91);
                            transform-origin: left;
                            font-family: MicrosoftYaHei;
                            border-radius: 5px;
                            background: linear-gradient(90deg, #EEDFC0 0%, #D8BB8C 100%);

                            img {
                                width: 0.4rem;
                            }
                        }
                    }
                }
            }
        }

        .management {
            .management-layer {
                width: 100%;
                padding-top: 0.4rem;
                padding-bottom: 0;

                .management-tit {
                    font-size: 0.32rem;
                    height: 0.88rem;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                }

                .management-module {
                    padding: 0 0.4rem;
                    .module-item {
                        width: 2rem;
                        height: auto;
                        font-size: 0.24rem;
                        margin-bottom: 0.52rem;

                        img {
                            width: 1.2rem;
                        }

                        p {
                            font-size: 0.24rem;
                            font-family: PingFangSC-Regular, PingFang SC;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    .advisory {
        background: url(../images/s2b2c/bg_zixun_s2b2c.png) no-repeat;
        background-size: cover;
        .advisory-layer {
            width: 100%;
            height: 2rem;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-top: 0.4rem;

            p {
                text-align: center;
                width: 100%;
                font-size: 0.32rem;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                letter-spacing: 0.04rem;
            }

            button {
                width: 1.76rem;
                height: 0.64rem;
                font-size: 0.28rem;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                margin: 0;
            }
        }
    }
}