.banner {
    max-width: 1920px;
    height: 400px;
    margin: 0 auto;
    background: url(../images/common/banner_anli.png) no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 120px;
    color: #ffffff;
}

.main {
    width: 1180px;
    margin: 0 auto;
    overflow: hidden;

    .news-nav {
        font-size: 16px;
        letter-spacing: 1px;
        padding: 50px 0 30px;
        border-bottom: 1px solid #dddddd;

        a {
            color: #444444;

            &.on {
                color: #377DC9;
            }
        }
    }

    .news-container {
        .news-tit {
            padding: 40px 0 20px;
            text-align: center;
            font-size: 22px;
            font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
            font-weight: bold;
        }

        .news-time {
            font-size: 15px;
            color: #999999;
            line-height: 20px;
            text-align: center;
            margin-bottom: 50px;
        }

        .news-img {
            min-width: 580px;
            min-height: 380px;
            background-color: #D8D8D8;
            margin: 0 auto;
        }

        .new-detail {
            width: 980px;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 65px;
            p {
                font-size: 14px;
                color: #444444;
                line-height: 24px;
                margin-bottom: 15px;
                text-indent: 2em;
            }
        }
    }
}