.banner {
    max-width: 1920px;
    height: 300px;
    margin: 0 auto;
    background: url(../images/common/news_banner.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
    color: #ffffff;

    .banner-layer {
        width: 1180px;
        margin: 0 auto;
        overflow: hidden;

        .banner-tit {
            position: relative;
            margin-top: 82px;
            font-size: 50px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            letter-spacing: 5px;
            &::after{
                content: '';
                display: block;
                width: 48px;
                height: 5px;
                background-color: #ffffff;
                position: absolute;
                left: 0;
                bottom: -15px;
            }
        }

        .banner-tit-en {
            margin-top: 25px;
            font-size: 30px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            letter-spacing: 5px;
        }
    }
}

.main {
    width: 1180px;
    margin: 0 auto;
    overflow: hidden;

    .news-nav {
        font-size: 16px;
        letter-spacing: 1px;
        padding: 50px 0 30px;
        border-bottom: 1px solid #dddddd;

        a {
            color: #444444;

            &.on {
                color: #377DC9;
            }
        }
    }
    .mo-news-nav {
        display: none;
    }

    .news-items {
        .news-item {
            display: flex;
            border-bottom: 1px solid #dddddd;
            padding: 28px 0;

            .item-img {
                width: 460px;
                padding-right: 80px;
                text-align: center;

                img {
                    max-width: 380px;
                    height: 220px;
                }
            }

            .item-info {
                flex: 1;

                .time {
                    font-size: 16px;
                    color: #999999;
                    margin-top: 20px;
                }

                .name {
                    display: inline-block;
                    font-size: 24px;
                    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
                    font-weight: bold;
                    color: #333333;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    &:hover{
                        color: #377DC9;
                    }
                }

                .text {
                    font-size: 15px;
                    color: #666666;
                    line-height: 28px;
                    margin-top: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }

}

.advisory {
    background-color: #377DC9;

    .advisory-layer {
        max-width: 1920px;
        height: 150px;
        margin: 0 auto;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 32px;
            letter-spacing: 3px;
        }

        button {
            width: 140px;
            height: 44px;
            border-radius: 3px;
            border: 1px solid #fff;
            outline: none;
            font-size: 18px;
            color: #fff;
            margin-left: 220px;
            cursor: pointer;
            background-color: transparent;
        }
    }
}