@media screen and(min-width: 0)  {
    .banner {
        height: 460px;
        padding-top: 0px;
    }
}

@media screen and(min-width: 1180px)  {
    .banner {
        height: 550px;
        padding-top: 52px;
    }
}

@media screen and(min-width: 1280px)  {
    .banner {
        height: 660px;
        padding-top: 75px;
    }
}

@media screen and (min-width: 1365px)  {
    .banner {
        height: 750px;
        padding-top: 120px;
    }
}

.banner {
    max-width: 1920px;
    margin: 0 auto;
    background: url(../images/wisstreet/banner_jiedao.png) no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;

    .banner-tit {
        font-size: 50px;
        letter-spacing: 3px;
        margin-bottom: 30px;
    }

    .banner-p {
        margin-bottom: 130px;

        p {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 1px;
        }
    }

    .banner-btn {
        button {
            height: 48px;
            background-color: #37A3E6;
            border-radius: 3px;
            color: #ffffff;
            outline: none;
            border: 0;
            cursor: pointer;

            &:first-child {
                width: 150px;
                margin-right: 50px;
            }

            &:last-child {
                width: 130px;
            }
        }
    }
}

.main {
    .product-use {
        width: 1180px;
        margin: 0 auto;

        .product-use-tit {
            height: 180px;
            text-align: center;
            padding-top: 80px;
            font-size: 32px;
            letter-spacing: 2px;
        }

        .product-use-int {
            position: relative;
            height: 160px;
            padding: 40px 60px 0;
            font-size: 16px;
            color: #444444;
            line-height: 28px;
            letter-spacing: 1px;
            margin-bottom: 108px;
            background-color: #F5F5F5;

            img {
                width: 60px;
                position: absolute;

                &.left-marks {
                    left: 0;
                    top: 0;
                }

                &.right-marks {
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }

    .features {
        padding-top: 80px;
        background-color: #f5f5f5;

        .features-layer {
            width: 1180px;
            padding-bottom: 35px;
            margin: 0 auto;

            .features-tit {
                font-size: 32px;
                letter-spacing: 2px;
                text-align: center;
            }

            .features-items {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 70px;

                .features-item {
                    width: 180px;
                    height: 180px;
                    text-align: center;

                    img {
                        width: 100px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

    .bigdata {
        padding-top: 80px;

        .bigdata-tit {
            margin-bottom: 60px;

            p {
                font-size: 32px;
                letter-spacing: 2px;
                line-height: 42px;
                text-align: center;
            }
        }

        .bigdata-txt {
            width: 1180px;
            margin: 0 auto;
            font-size: 16px;
            color: #666666;
            line-height: 28px;
            letter-spacing: 1px;
        }

        .bigdata-items {
            margin-top: 30px;

            .bigdata-item {

                &:nth-of-type(even) {
                    background-color: #61B6EA;

                    .item-name {
                        color: #ffffff;

                        &::before {
                            background-color: #ffffff;
                        }
                    }

                    .item-text {
                        color: #ffffff;
                    }
                }

                &:nth-of-type(odd) {
                    background-color: #F6F6F7;

                    .item-name {
                        color: #37A3E6;

                        &::before {
                            background-color: #37A3E6;
                        }
                    }

                    .item-text {
                        color: #666666;
                    }
                }

                .bigdata-item-layer {
                    width: 1180px;
                    height: 380px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .tupian {
                        img {
                            width: 450px;
                        }
                    }

                    .wenzi {
                        width: 400px;
                        margin-left: 100px;

                        &.r {
                            margin-left: 0;
                            margin-right: 100px;
                        }

                        .item-name {
                            position: relative;
                            font-size: 20px;
                            font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
                            font-weight: bold;
                            line-height: 26px;
                            letter-spacing: 2px;
                            padding: 15px 0 20px;

                            &::before {
                                content: '';
                                display: block;
                                width: 30px;
                                height: 6px;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }

                        .item-text {
                            font-size: 15px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }

    .gismap {
        padding-top: 80px;
        padding-bottom: 90px;
        width: 1180px;
        margin: 0 auto;

        .gismap-tit {
            font-size: 32px;
            letter-spacing: 2px;
            line-height: 42px;
            text-align: center;
            margin-bottom: 60px;
        }

        .gismap-txt {
            font-size: 16px;
            color: #666666;
            line-height: 28px;
            letter-spacing: 1px;
        }

        .gismap-img {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            img {
                width: 550px;
            }
        }
    }

    .management {
        background-color: #F6F6F7;

        .management-layer {
            width: 1180px;
            margin: 0 auto;
            padding-top: 80px;
            padding-bottom: 70px;

            .management-tit {
                font-size: 32px;
                text-align: center;
                letter-spacing: 2px;
            }

            .management-module {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 60px;

                .module-item {
                    width: 265px;
                    height: 180px;
                    padding: 25px 30px;
                    box-shadow: 0px 3px 35px 0px rgba(217, 218, 219, 0.8);
                    border-radius: 10px;
                    margin-bottom: 40px;
                    background: url(../images/wisstreet/icon/bg_street_xiaqushezhi.png) no-repeat;
                    background-size: cover;

                    .item-name {
                        font-size: 20px;
                        font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
                        font-weight: bold;
                        color: #444444;
                        line-height: 26px;
                        letter-spacing: 1px;

                        &::after {
                            content: '';
                            display: block;
                            position: relative;
                            left: 0;
                            bottom: -12px;
                            width: 28px;
                            height: 4px;
                            background-color: #37A3E6;
                        }
                    }

                    .item-text {
                        margin-top: 23px;
                        font-size: 14px;
                        font-family: MicrosoftYaHei;
                        color: #888888;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    .things{
        max-width: 1920px;
        height: 1250px;
        margin: 0 auto;
        background: url(../images/wisstreet/bg_jiedao_wulianwang.png) no-repeat;
        background-size: cover;
        color: #fff;

        .things-layer {
            width: 1180px;
            margin: 0 auto;
            padding-top: 80px;

            .things-tit {
                font-size: 32px;
                letter-spacing: 2px;
                text-align: center;
            }

            .things-txt {
                margin-top: 50px;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 1px;
            }

            .things-img {
                text-align: center;
                margin-top: 50px;
                img{
                    width: 1106px;
                }
            }
        }
    }
}

.advisory {
    background-color: #37A3E6;

    .advisory-layer {
        max-width: 1920px;
        height: 150px;
        margin: 0 auto;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 32px;
            letter-spacing: 3px;
        }

        button {
            width: 140px;
            height: 44px;
            border-radius: 3px;
            border: 1px solid #fff;
            outline: none;
            font-size: 18px;
            color: #fff;
            margin-left: 220px;
            cursor: pointer;
            background-color: transparent;
        }
    }
}