@media screen and(min-width: 0) {
    .banner {
        height: 460px;
        padding-top: 0px;
    }
}

@media screen and(min-width: 1180px) {
    .banner {
        height: 550px;
        padding-top: 52px;
    }
}

@media screen and(min-width: 1280px) {
    .banner {
        height: 660px;
        padding-top: 75px;
    }
}

@media screen and (min-width: 1365px) {
    .banner {
        height: 750px;
        padding-top: 120px;
    }
}

.banner {
    max-width: 1920px;
    margin: 0 auto;
    background: url(../images/wissecurity/banner_anbao.png) no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;

    .banner-tit {
        font-size: 50px;
        letter-spacing: 3px;
        margin-bottom: 30px;
    }

    .banner-p {
        margin-bottom: 130px;

        p {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 1px;
        }
    }

    .banner-btn {
        button {
            height: 48px;
            background-color: #F84335;
            border-radius: 3px;
            color: #ffffff;
            outline: none;
            border: 0;
            cursor: pointer;

            &:first-child {
                width: 150px;
                margin-right: 50px;
            }

            &:last-child {
                width: 130px;
            }
        }
    }
}

.main {
    .security-centre {
        width: 1180px;
        margin: 0 auto;

        .security-centre-tit {
            text-align: center;
            padding-top: 80px;
            font-size: 32px;
            letter-spacing: 2px;
        }

        .security-centre-items {
            margin-top: 70px;
            margin-bottom: 60px;
            overflow: hidden;

            .security-centre-item {
                width: 520px;
                overflow: hidden;
                display: flex;
                margin-bottom: 70px;

                .l {
                    width: 120px;
                    margin-right: 40px;

                    img {
                        width: 100%;
                    }
                }

                .r {
                    flex: 1;

                    .r-tit {
                        color: #333333;
                        font-size: 22px;
                        font-family: MicrosoftYaHei;
                        letter-spacing: 1px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 16px;
                        font-family: MicrosoftYaHei;
                        color: #666666;
                        line-height: 28px;
                    }
                }

                &.left {
                    float: left;
                }

                &.right {
                    float: right;
                }
            }
        }
    }

    .trait {
        position: relative;
        max-width: 1920px;
        height: 900px;
        background: url(../images/wissecurity/anbao_bg1.png) no-repeat;
        background-size: cover;
        margin: 0 auto;

        .trait-white-layer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .8);
        }

        .trait-layer {
            position: relative;
            width: 1180px;
            height: 100%;
            margin: 0 auto;

            .center-cir {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -53%);
                width: 470px;
                height: 470px;
                background: url(../images/wissecurity/kunjing.png) no-repeat;
                background-size: cover;
                z-index: 0;
            }

            .tradit-item {
                position: absolute;
                width: 250px;
                height: 160px;
                border-radius: 10px;
                text-align: center;
                color: #fff;
                padding: 20px;
                box-shadow: 0px 4px 40px 0px rgba(236, 236, 237, 1);
                z-index: 1;

                &:nth-of-type(1) {
                    top: 83px;
                    left: 465px;
                    background: linear-gradient(360deg, rgba(135, 226, 250, 1) 0%, rgba(79, 185, 254, 1) 100%);
                }

                &:nth-of-type(2) {
                    top: 353px;
                    right: 150px;
                    background: linear-gradient(360deg, rgba(135, 224, 193, 1) 0%, rgba(82, 217, 209, 1) 100%);
                }

                &:nth-of-type(3) {
                    bottom: 117px;
                    right: 280px;
                    background: linear-gradient(360deg, rgba(255, 166, 181, 1) 0%, rgba(242, 141, 187, 1) 100%);
                }

                &:nth-of-type(4) {
                    bottom: 117px;
                    left: 280px;
                    background: linear-gradient(360deg, rgba(161, 175, 255, 1) 0%, rgba(135, 150, 240, 1) 100%);
                }

                &:nth-of-type(5) {
                    top: 353px;
                    left: 150px;
                    background: linear-gradient(360deg, rgba(255, 199, 175, 1) 0%, rgba(242, 164, 141, 1) 100%);
                }

                .item-tit {
                    font-size: 18px;
                    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
                    font-weight: bold;
                }

                p {
                    font-size: 14px;
                    font-family: MicrosoftYaHei;
                    line-height: 22px;
                }
            }

            .center-cir {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    text-align: center;

                    &:first-child {
                        font-size: 28px;
                        font-family: MicrosoftYaHei;
                        color: #333333;
                        letter-spacing: 2px;
                        margin-bottom: 10px;
                    }

                    &:last-child {
                        font-size: 14px;
                        font-family: Helvetica;
                        color: #aaaaaa;
                        line-height: 17px;
                    }
                }
            }
        }
    }

    .solve {
        width: 1180px;
        height: 900px;
        margin: 0 auto;
        padding-top: 80px;

        .solve-tit {
            text-align: center;
            font-size: 32px;
            font-family: MicrosoftYaHei;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }

        .solve-scheme {
            position: relative;
            height: 440px;
            margin-top: 80px;
            background: url(../images/wissecurity/fangantu.png) no-repeat;
            background-size: 620px 440px;
            background-position: center top;

            .solve-scheme-item {
                position: absolute;
                width: 260px;
                font-size: 15px;
                font-family: MicrosoftYaHei;
                color: #555555;
                line-height: 24px;

                &.l {
                    text-align: right;
                }

                &:nth-of-type(1) {
                    left: 75px;
                    top: 0;
                }

                &:nth-of-type(2) {
                    right: 80px;
                    top: 18px;
                }

                &:nth-of-type(3) {
                    right: 0;
                    top: 187px;
                }

                &:nth-of-type(4) {
                    right: 80px;
                    bottom: 12px;
                }

                &:nth-of-type(5) {
                    left: 75px;
                    bottom: 12px;
                }

                &:nth-of-type(6) {
                    left: 0px;
                    top: 187px;
                }
            }
        }

        .solve-arrow {
            text-align: center;
            margin-top: 40px;

            img {
                width: 29px;
            }
        }

        .solve-zj {
            font-size: 22px;
            font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;
            margin-top: 30px;

            em {
                font-style: normal;
                color: #F84335;
            }
        }
    }

    .alter {

        background-color: #F6F6F6;

        .alter-layer {
            width: 1180px;
            height: 850px;
            margin: 0 auto;
            padding-top: 80px;

            .alter-tit {
                font-size: 32px;
                font-family: MicrosoftYaHei;
                letter-spacing: 2px;
                text-align: center;
            }

            .alter-ladder {
                position: relative;
                height: 633px;
                background: url(../images/wissecurity/dajiantou.png) no-repeat;
                background-size: 906px 573px;
                background-position: 240px bottom;

                .alter-ladder-item {
                    position: absolute;
                    line-height: 46px;
                    font-size: 20px;
                    font-family: MicrosoftYaHei;
                    letter-spacing: 1px;

                    .num {
                        display: inline-block;
                        width: 46px;
                        height: 46px;
                        text-align: center;
                        background-color: #fff;
                        border-radius: 50%;
                        margin-left: 50px;
                        font-size: 24px;
                        font-family: DINAlternate-Bold, DINAlternate;
                        font-weight: bold;
                        color: #F84335;
                    }

                    em {
                        font-style: normal;
                        color: #F84335;
                    }

                    &:nth-of-type(1){
                        left: 28px;
                        bottom: 98px;
                    }
                    &:nth-of-type(2){
                        left: 90px;
                        bottom: 194px;
                    }
                    &:nth-of-type(3){
                        left: 294px;
                        bottom: 287px;
                    }
                    &:nth-of-type(4){
                        left: 450px;
                        bottom: 348px;
                    }
                    &:nth-of-type(5){
                        left: 605px;
                        bottom: 425px;
                    }
                }
            }

        }
    }

    .capacity {
        .capacity-layer {
            width: 1180px;
            margin: 0 auto;

            .capacity-tit {
                font-size: 32px;
                text-align: center;
                letter-spacing: 2px;
                padding-top: 80px;
                background: url(../images/wissecurity/yuandian.png) no-repeat;
                background-size: 99px 73px;
                background-position: 422px 65px;
            }

            .capacity-module {
                margin-top: 80px;
                overflow: hidden;
                padding-bottom: 70px;

                .module-item {
                    float: left;
                    width: 265px;
                    height: 260px;
                    background: #fff;
                    box-shadow: 0px 4px 40px 0px rgba(236, 236, 237, 1);
                    border-radius: 10px;
                    margin-bottom: 40px;
                    margin-right: 32px;
                    text-align: center;

                    img {
                        width: 100px;
                    }

                    &:nth-of-type(4n+4) {
                        margin-right: 0;
                    }

                    .item-name {
                        position: relative;
                        font-size: 18px;
                        font-family: MicrosoftYaHei;
                        line-height: 24px;

                        &::after {
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 5px;
                            background: #F84335;
                            border-radius: 2px;
                            bottom: -15px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }

                    .item-text {
                        margin-top: 30px;
                        font-size: 14px;
                        color: #888888;
                        line-height: 24px;
                        padding: 0 30px;
                    }
                }
            }
        }
    }

    .synthesize {
        background-color: #F6F6F6;

        .synthesize-layer {
            width: 1180px;
            height: 850px;
            margin: 0 auto;
            padding-top: 80px;

            .synthesize-tit {
                font-size: 32px;
                font-family: MicrosoftYaHei;
                letter-spacing: 2px;
                text-align: center;
            }

            .synthesize-img-box {
                position: relative;
                text-align: center;
                margin-top: 105px;

                &>img {
                    width: 534px;
                }

                &>span {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, 85%);
                    font-size: 24px;
                    font-family: MicrosoftYaHei;
                    letter-spacing: 1px;
                }

                .big-cir-box {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;

                    .cir1 {
                        position: absolute;
                        left: 345px;
                        top: 33px;
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        background: url(../images/wissecurity/juese.png) no-repeat;
                        background-size: cover;
                        padding-top: 80px;
                        font-size: 18px;
                        font-family: MicrosoftYaHei;
                        letter-spacing: 1px;
                    }

                    .cir2 {
                        position: absolute;
                        right: 275px;
                        top: 180px;
                        width: 126px;
                        height: 126px;
                        border-radius: 50%;
                        background: url(../images/wissecurity/yonghu.png) no-repeat;
                        background-size: cover;
                        padding-top: 73px;
                        font-size: 18px;
                        font-family: MicrosoftYaHei;
                        letter-spacing: 1px;
                    }

                    .cir3 {
                        position: absolute;
                        right: 370px;
                        bottom: -11px;
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        background: url(../images/wissecurity/jiancha.png) no-repeat;
                        background-size: cover;
                        padding-top: 96px;
                        font-size: 20px;
                        font-family: MicrosoftYaHei;
                        letter-spacing: 1px;
                    }

                    .cir4 {
                        position: absolute;
                        left: 260px;
                        bottom: 84px;
                        width: 160px;
                        height: 160px;
                        border-radius: 50%;
                        background: url(../images/wissecurity/shuju.png) no-repeat;
                        background-size: cover;
                        padding-top: 96px;
                        font-size: 18px;
                        font-family: MicrosoftYaHei;
                        letter-spacing: 1px;
                    }
                }

                .bubble-box {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    .bubble-item {
                        position: absolute;
                        width: 150px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        font-size: 20px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #DE3629;
                        background-color: #FFEBE9;

                        &.l {
                            border-radius: 20px 20px 5px 20px;
                        }

                        &.r {
                            border-radius: 20px 20px 20px 5px;
                        }

                        &:nth-of-type(1) {
                            left: 250px;
                            top: -25px;
                        }

                        &:nth-of-type(2) {
                            left: 122px;
                            top: 134px;
                        }

                        &:nth-of-type(3) {
                            left: 86px;
                            top: 225px;
                        }

                        &:nth-of-type(4) {
                            left: 227px;
                            top: 450px;
                        }

                        &:nth-of-type(5) {
                            right: 147px;
                            top: 354px;
                        }

                        &:nth-of-type(6) {
                            right: 94px;
                            top: 124px;
                        }

                        &:nth-of-type(7) {
                            right: 167px;
                            top: 48px;
                        }

                        &:nth-of-type(8) {
                            right: 258px;
                            top: -25px;
                        }
                    }
                }
            }
        }
    }
}

.advisory {
    background: linear-gradient(270deg, #F84335 0%, #FF674C 100%);

    .advisory-layer {
        max-width: 1920px;
        height: 150px;
        margin: 0 auto;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 32px;
            letter-spacing: 3px;
        }

        button {
            width: 140px;
            height: 44px;
            border-radius: 3px;
            border: 1px solid #fff;
            outline: none;
            font-size: 18px;
            color: #fff;
            margin-left: 220px;
            cursor: pointer;
            background-color: transparent;
        }
    }
}